@model List<ToDo>
@{
    string userMatch = (string)TempData["User"];
}
<h5><a style="text-decoration:none" href="CreateTask"><img src="/img/plus-icon.png" /> Create New Task</a></h5>

<input type="search" id="SearchByDescription" onkeyup="myFunction()" placeholder="Search by Task Description" />
<table class="table table-bordered table-striped table-dark table-hover" id="TaskTable">
    <tr>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
        <th class="th-sm">Due Date</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Mark As Completed</th>
    </tr>

    @foreach (ToDo td in Model)
    {
        <tr>
            <td>@td.UserEmail</td>
            <td>@td.Name</td>
            @if (!td.Completed)
            {
                <td>Incomplete</td>
            }
            else
            {
                <td>Completed</td>
            }
            <td>@td.DueDate.ToShortDateString()</td>
            <td>@td.Description</td>
            <td>
                @if (userMatch == td.UserId)
                {
                    <a asp-action="UpdateTask" asp-route-id="@td.Id"><img src="/img/edit-icon.png" /></a>
                }
                else
                {
                    //if user isn't a match, they cannot alter tasks
                }
            </td>
            <td>
                @if (userMatch == td.UserId)
                {
                    <a asp-action="DeleteTask" asp-route-id="@td.Id"><img src="~/img/delete-icon.png" /></a>
                }
                else
                {
                    //if user isn't a match, they cannot alter tasks
                }
            </td>
            <td>
                @if (userMatch == td.UserId)
                {
                    <a asp-action="MarkAsCompleted" asp-route-id="@td.Id"><img src="~/img/checkmark-icon.png" /></a>
                }
                else
                {
                    //if user isn't a match, they cannot alter tasks
                }

            </td>
        </tr>
    }
</table>